.numero1{
    height: 200px;
    width: 200px;
    transform: rotateZ(45deg);
}

.numero2 {
    height: 200px;
    width: 200px;
    transition-property: all;
}
.numero2:hover {
    height: 400px;
    width: 100px;
}
.numero3 {
    height: 500px;
    width: 240px;
    transition-property: all;
    transition-duration: 2s;
}
.numero3:hover {
    transform: rotate(180deg);
}